# Virtual Environment
venv/
.venv/
ENV/
env/

# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Databases
*.sqlite3
db.sqlite3

# Static / Media Files (built or uploaded)
staticfiles/
media/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
